[include]
  path = ~/.gitconfig.local
[color]
  ui = auto
[color "diff"]
  meta = cyan bold
  commit = green bold
  frag = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  co = checkout
  ci = commit
  st = status -sb
  br = branch
  bm = branch --merged
  bd = branch -d
[core]
  pager = less -x1,5
  editor = vim
[push]
  default = simple
[pull]
  rebase = false
